CONTACT_SMTP_USER=faseehff27@gmail.com
CONTACT_SMTP_APP_PASSWORD=your_google_app_password_here
CONTACT_FROM_EMAIL=faseehff27@gmail.com
CONTACT_TO_EMAILS=shaheerkashif33@gmail.com,dtgamingyoutub@gmail.com
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
